{
  "extends": [
    "react-app",
    "airbnb"
  ],
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-filename-extension": "off", // 关闭airbnb对于jsx必须写在jsx文件中的设置
    "react/prop-types": "off", // 关闭airbnb对于必须添加prop-types的校验
    "jsx-a11y/click-events-have-key-events": "off", // 关闭click事件要求有对应键盘事件
    "jsx-a11y/no-static-element-interactions": "off", // 关闭非交互元素加事件必须加 role
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "only-multiline" // 关闭airbnb对函数调用参数，非一行，最后也要加逗号的限制
      }
    ],
    "no-multi-spaces": 2,
    "react/jsx-space-before-closing": 1,  // 总是在自动关闭的标签前加一个空格，正常情况下也不需要换行
    "jsx-quotes": 2,  // jsx里面必须使用双引号
    "react/jsx-closing-bracket-location": 2,  // 遵循JSX语法缩进/格式
    "react/jsx-boolean-value": 2, // 如果属性值为 true, 可以直接省略
    "react/no-string-refs": 1,  // 总是在Refs里使用回调函数
    "react/self-closing-comp": 2, // 对于没有子元素的标签来说总是自己关闭标签
    "react/jsx-pascal-case": 2,  // React模块名使用帕斯卡命名，实例使用骆驼式命名
    "react/state-in-constructor": "off", // 关闭state必须在constructor里的限制
    "react/jsx-props-no-spreading": "off", // 关闭props不能使用展开符展开的限制
    "no-debugger": "off",
    "react/sort-comp": "off",
    "linebreak-style": [0 ,"error", "windows"] // 允许windows的CRLF换行符
  }
}